.tbl-val {
  font-size: 10px;
}

.tbl-click {
  cursor: pointer;
}

.table {
  width: 250%;
}

.tw-1 {
  width: 25px;
}

.tw-2 {
  width: 50px;
}

.tw-3 {
  width: 75px;
}

.tw-4 {
  width: 100px;
}

.tw-5 {
  width: 125px;
}